# Intellij
.idea
*.iml

# Distributables
build
target
*.jar

# Processes
.attach*

# Maven
dependency-reduced-pom.xml

# GO
*.tar.gz
*.sum

# NPM
package-lock.json
yarn.lock

## Automation
cypressUpdateOne.sh
docker-composetmp.yml
packagetmp.json
pluginUpdatesOne.sh
